* {
  font-family: 'Dosis';
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 3vw;
}
#root {
  min-height: 100%;
  padding-top: 1.8em;
}

header {
  background: linear-gradient(to bottom, #eee, #333);
  color: cyan;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1.8em;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.teamattributes .att {
  color: red;
}
.teamattributes .mid {
  color: green;
}
.teamattributes .def {
  color: blue;
}

.awayteam {
  color: #c44;
}
.hometeam {
  color: #3498db;
}

.formation {
  display: grid;
  grid-template-columns: repeat(5, 17vw);  
  grid-template-rows: repeat(5, 19vw);
  margin: 2vh 1vw;
}
.formation .slot {
  display: inline-grid;
  font-size: 0.8em;
  border: 1px dotted #ccc;
  border-collapse: collapse;
  text-align: center;
  align-items: center;
  transition-duration: 1s;
}
.formation .slot .ovr {
  position: absolute;
  font-size: 1.4em;
  margin-left: 1vw;
}
.formation .slot img {
  width: 14vw;
  height: auto;
  display: inline-flex;
  object-fit: contain;
}
.formation .slot.ball {
  background-color: #DC1
}
.formation .slot.none {
  border: none;
}

.phases {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack:justify;
  box-sizing: border-box;
  margin-top: 3vh;
}
.phase {
  display: block;
  -webkit-box-flex: 1;
  border: solid 1px #9a9a99;
  border-left: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  text-align: center;
  background-image: 
      -webkit-gradient(linear, left top, left bottom, 
          from(#fbfbfb), 
          to(#bdbdbd));
  background-image: 
      -moz-linear-gradient(top, 
          #fbfbfb, 
          #bdbdbd);
  color: #6b6b6b;
}
.phase.selected {
  background-image: 
      -webkit-gradient(linear, left top, left bottom, 
          from(#2a55b1), 
          to(#6297f2));
  background-image: 
      -moz-linear-gradient(top, 
          #2a55b1, 
          #6297f2);
  color: #fff;
  border-color: #193a7f;
}
.phase:first-of-type {
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
  border-left: solid 1px #9a9a99;
}
.phase:last-of-type {
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
  border-right: solid 1px #9a9a99;
}

.navButton {
  border: 1px solid #ccc;
  margin: 1vh 2vw;
  border-radius: 1vh 2vw;
  padding: 1vh 2vw;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
}
.navButton#navDuel {
  background-color: #4CAF50;
}
.navButton#navTeam {
  background-color: #3498db;
}
.navButton#navHome {
  background-color: #4CAF50;
}
.navButton img {
  width: 8vw;
  height: 6vh;
  margin: 1vh 2vw;
}

#login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
}
#login div {
  margin: 5vw;
}
#login img {
  width: 80vw;
}

#team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 3vh 2vw;
}
#team .team {
  border-radius: 1vw;
  transition: 0.3s;
  font-size: 1.2em;
  text-align: center;
  padding: 1vh 3vw;
}
#team .team .emblem {
  width: 25vw;
  height: auto;
}
#team .team:hover {
  background-color: #ded;
}
#team .getit {
  width: 25vw;
  height: auto;
}

#home {
  margin: 4vh 7vw;
}
#home #usersquad {
  transform: scaleX(2.2) scaleY(1.7);
}
#home #actions {
  width: 85vw;
}
#home #actions #buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#usersquad {
  display: flex;
  align-items: center;
  justify-content: center;
}
#usersquad .name {
  padding: 0 4vw;
}
#usersquad .emblem {
  width: 7vw;
}
#usersquad .teamattributes {
  font-size: 0.8em;
}

#match {
  padding: 3vh 7vw;
}
#match #summary {
  display: grid;
  grid-template-columns: 1fr 3vw 2vw 3vw 1fr;  
  align-items: center;
}
#match #score {
  font-size: 2.0em;
  text-align: center;
}
#match #time {
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 1vh;
}

footer {
  margin-top: 5px;
  border-top: 1px dotted #ddd;
  font-size: 0.8em;
  text-align: center;
  position: absolute;
  bottom:0;
  width:100%;
  height:20px;   /* Height of the footer */
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}